<div class="nav">
  <div class="ui grid">
    <div class="four wide column">

      
    </div>

    <div class="eight wide column">
      <a href="/articles"><h2><%= blog.title %></h2></a>
      <h1>I <%= parseInt((new Date().getTime() - new Date('1991-04-22').getTime()) / 86400000)%>
        U <%= parseInt((new Date().getTime() - new Date('1991-12-02').getTime()) / 86400000)%>
        BABY <%= parseInt((new Date().getTime() - new Date('2018-01-12').getTime()) / 86400000)%></h1>
    </div>
  </div>
</div>