  <script type="text/javascript">
   $(document).ready(function () {
      // 点击按钮弹出下拉框
      $('.ui.dropdown').dropdown();

      // 鼠标悬浮在头像上，弹出气泡提示框
      $('.article-content .avatar-link').popup({
        inline: true,
        position: 'bottom right',
        lastResort: 'bottom right'
      });
    })
  </script>

          <div id="cell">
            <span>Copyright &copy;leiwei</a></span> | 
            <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备18013719号</a></span>
        </div>
    

  </body>
</html>
